<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-t8inr5zzgKyIvz0dqBHuinb0CUBq5cE</string>
	<key>GCM_SENDER_ID</key>
	<string>142209637999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fundiConnect</string>
	<key>PROJECT_ID</key>
	<string>fundi-connect-af6ff</string>
	<key>STORAGE_BUCKET</key>
	<string>fundi-connect-af6ff.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142209637999:ios:cd8735b18c0257d537379a</string>
</dict>
</plist>
